<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand col-10" routerLink=""><img src="../../assets/img/logo3.png" alt="logo leila" height="60"></a>
    <div class="d-inline-flex">
        <div class="dropdown">
            <button *ngIf="isLoggedIn" class="botao-perfil btn dropdown-toggle btn-outline-light" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa-icon class="user" [icon]="faUserCircle"></fa-icon>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- <a class="dropdown-item" href="#">Dados pessoais</a> -->
                <a class="dropdown-item" routerLink="/perfil">Dados complementares</a>
                <a class="dropdown-item" routerLink="/agendamentos">Meus agendamentos</a>
                <app-servico-update class="pointer" *ngIf="userAdmin" [editaServico]="false" [criaServico]="true">
                </app-servico-update>
                <a *ngIf="userAdmin" class="dropdown-item pointer" routerLink="/consulta-agendamentos">Consultar agendamentos dos clientes</a>
                <a class="dropdown-item pointer" (click)="logout()">Sair</a>
            </div>
        </div>
        <button *ngIf="mostraEntrarCadastrar" class="btn-rosa-tema btn btn-info my-2 mr-2"
            routerLink="/login-cadastro">Entrar ou cadastrar</button>
    </div>
</nav>