.container-login {
  background: linear-gradient(180deg, rgba(0, 194, 203, 0.65) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, rgba(237, 76, 92, 0.65) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(177.25deg, rgba(191, 4, 92, 0.65) 101.63%, rgba(255, 255, 255, 0) 102.87%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.panel-login {
  background-color: white;
  width: 500px;
  border-radius: 2%;
  border-color: #ccc;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

.panel-login>.panel-heading button {
  margin-right: 5px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login>.panel-heading button.active {
  color: #bf045b;
  font-size: 18px;
}

.panel-login>.panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.btn-login {
  background-color: #bf045b;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: bold;
  padding: 11px 0;
  text-transform: uppercase;
  border-color: #bf045b;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #bf045b;
  border-color: #bf045b;
}

.esqueci-senha {
  text-decoration: underline;
  color: #888;
}

.esqueci-senha:hover,
.esqueci-senha:focus {
  text-decoration: underline;
  color: #666;
}
.checkbox-senha {
  margin: 6px;
}
