<div class="container-login">
  <div class="panel panel-login px-3">
    <div class="panel-heading px-3">
      <div class="row my-3">
        <div>
          <button type="button" class="btn btn-link" [ngClass]="{'active': mostraLogin}" (click)="exibeLogin()">Login
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link" [ngClass]="{'active': mostraCadastro}" (click)="exibeCadastro()">
            Cadastro
          </button>
        </div>
      </div>
      <hr>
    </div>
    <form id="login-form" *ngIf="mostraLogin !isLoggedIn" method="post" role="form" name="form"
      (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
          placeholder="Usuário" #username="ngModel" tabindex="1">
      </div>

      <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Senha"
          [(ngModel)]="form.password" required minlength="6" #password="ngModel">
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
          Digite o usuário
        </div>
        <div *ngIf="f.submitted && password.invalid">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">Digite a senha</div>
          <div class="alert alert-danger" role="alert" *ngIf="password.errors.minlength">
            Senha deve ter pelo menos 6 caracteres.
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Falha no login: {{ errorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logado como {{ roles }}.
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login"
              (click)="onSubmit()">Entrar</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">
              <a tabindex="5" class="esqueci-senha">Esqueci minha
                senha</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    <app-cadastro *ngIf="mostraCadastro"></app-cadastro>
  </div>
</div>
