<div class="card-deck">
    <div class="card-agendamento">
        <div class="card-header d-flex justify-content-between">
            <h5 class="titulo-agendamento"></h5>
        </div>
        <div class="card-body">
            <p class="card-desc"></p>
            <h5 class="card-title">Preço: 
            </h5>
            <h5 class="card-text">Nota: </h5>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary btn-cor">Agendar horário</button>
            </div>
        </div>
    </div>
</div>