<div class="d-flex flex-column">
  <label class="font-weight-bold mt-2 mb-0">Interesses</label>
  <div class="d-flex">
    <input type="text" name="interesse" id="interesse" tabindex="1" class="form-control" placeholder="Interesse"
      [(ngModel)]="interesse"><button class="btn btn-primary mx-2" (click)="adicionarInteresse()">+</button>
  </div>
  <button class="btn btn-light" *ngFor="let interesseOnList of cliente.interesses">{{interesseOnList}} <button
      class="btn btn-sm btn-danger" (click)="excluirInteresse(interesseOnList)">x</button></button>
  <label class="font-weight-bold mt-2 mb-0">Observações</label>
  <div class="d-flex">
    <input type="text" name="observacoes" id="observacoes" tabindex="1" class="form-control" placeholder="Observações"
      [(ngModel)]="observacao"><button class="btn btn-primary mx-2" (click)="adicionarObs()">+</button>
  </div>
  <button class="btn btn-light" *ngFor="let observacoesOnList of cliente.observacoes">{{observacoesOnList}} <button
      class="btn btn-sm btn-danger" (click)="excluirObs(observacoesOnList)">x</button></button>
  <button *ngIf="mostraSalvar" (click)="salvar()" class="btn btn-info">Salvar</button>
</div>
<button class="btn btn-info" (click)="mostrarPedidos()">Meus pedidos</button>
<app-pedido *ngIf="mostraPedidos" [idCliente]="cliente.id"></app-pedido>