<nav class="navbar-expand-lg navbar-light d-flex justify-content-between">
    <a class="navbar-brand col-10" routerLink=""><img src="../../assets/img/logo3.png" alt="logo leila" height="60"></a>
    <div class="d-inline-flex">
        <app-servico-update [editaServico]="false" [criaServico]="true"></app-servico-update>
        <button class="btn-rosa-tema btn btn-info m-2" routerLink="/login-cadastro">Entrar ou cadastrar</button>
    </div>
</nav>
<router-outlet></router-outlet>

<footer>
    <div class="col-12 col-sm-12 col-md-7 col-lg-6 mb-3 mb-md-0 footer-box">
        <strong>Redes Sociais</strong>
    </div>
    <div>
    </div>
</footer>