<section class="principal">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="wrapper w-100 d-flex">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper w-100 d-flex">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper w-100 d-flex">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
                <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="imagem salão">
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="info-geral">
        <div class="info-img">
            <img class="imagem" src="../../assets/img/logo1.png">
        </div>
        <div class="nome-salao">
            <h3>Cabeleleila Leila</h3>
            <span class="estrelas">5.0</span>
            <fa-icon [icon]="faStar"></fa-icon>
            <nav>
                <a href="/tela-inicial#infos-pagamento">+ Informações</a>
            </nav>
        </div>
    </div>

    <section id="infos-pagamento">
        <h4>Cabeleleila Leila</h4><br>
        <strong>Formas de pagamento: </strong>
        <span>Visa, Mastercard, Hipercard, Elo Crédito, Maestro/Redeshop, Visa Electron, Elo Débito,
            Transferência entre Conta Corrente, Dinheiro</span><br>
        <strong>Facilidades: </strong>
        <span>Wi-Fi, Atendemos adultos e crianças, TV, Aceita cartão de crédito</span>
    </section>

</section>
<!-- <div class="row w-100 position-relative">
    <div class="col-12 informacoes-do-estabelecimento"> -->
<!-- <div class="d-flex">
            <div class="mr-3">
                <img src="" class="informacoes-do-estabelecimento__img-estabelecimento">
            </div>
            <div class="informacoes-do-estabelecimento__bloco-direito">
                <h3 id="nome-estabelecimento" class="informacoes-do-estabelecimento__nome-estabelecimento">Cabeleleila
                    Leila</h3>
                <div id="avaliacoesSalao" class="informacoes-do-estabelecimento__avaliacoes">
                    <span class="informacoes-do-estabelecimento__avaliacoes-valor">5.0</span><i
                        class="material-icons icon-star">star</i>
                    <a href="#section-avaliacoes" du-smooth-scroll="" offset="40"
                        class="informacoes-do-estabelecimento__avaliacoes-quantidade">(2 avaliações)</a>
                </div>
                <div id="avaliacoesSalao" class="informacoes-do-estabelecimento__bloco-mais-informacoes">
                    <distancia-ate-usuario latitude="-16.0665993" ,="" longitude="-47.9825191" class="ng-isolate-scope">
                    </distancia-ate-usuario>
                    <div class="informacoes-do-estabelecimento__mais-informacoes-align">
                        <i class="material-icons icon-add">add</i>
                        <a href="#info" du-smooth-scroll="" offset="40">Informações</a>
                    </div>
                </div>
            </div>
        </div> -->
<!-- <div class="informacoes-do-estabelecimento__mais-informacoes-mobile">
            <a href="#endereco-estabelecimento" du-smooth-scroll="" offset="60">
                <distancia-ate-usuario latitude="-16.0665993" ,="" longitude="-47.9825191" class="ng-isolate-scope">
                </distancia-ate-usuario>
            </a>
            <div class="d-flex align-items-center">
                <i class="material-icons icon-add">add</i>
                <a href="#info" du-smooth-scroll="" offset="40">Informações</a>
            </div>
        </div> -->
<!-- </div>
</div> -->