<ngb-carousel>
    <ng-template ngbSlide>
        <div class="wrapper w-100 d-flex">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper w-100 d-flex">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="wrapper w-100 d-flex">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
            <img src="../../assets/img/pagina-inicial-2.jpg" height="400" weight="400" alt="Random first slide">
        </div>
    </ng-template>
</ngb-carousel>