<h4 class="mt-5 ml-4 pl-4">Nossa equipe</h4>
<div class="quadro-funcionarios d-flex">
    <div class="card-funcionario">
        <div class="imagem-funcionario">
            <img src="https://i.pinimg.com/736x/14/30/35/143035bbec562335d8b2217317273ba1.jpg"
                alt="Foto do funcionário">
        </div>
        <span class="nome-funcionario ng-binding">Joana Castanheira</span>
        <div class="likes d-inline-flex justify-content-between">
            <fa-icon class="coracao m-1" [icon]="faHeart"></fa-icon>
            <span class="likes m-1">10</span>
        </div>
    </div>
    <div class="card-funcionario">
        <div class="imagem-funcionario">
            <img src="https://i.pinimg.com/736x/14/30/35/143035bbec562335d8b2217317273ba1.jpg"
                alt="Foto do funcionário">
        </div>
        <span class="nome-funcionario ng-binding">Joana Castanheira</span>
        <div class="likes d-inline-flex justify-content-between">
            <fa-icon class="coracao m-1" [icon]="faHeart"></fa-icon>
            <span class="likes m-1">10</span>
        </div>
    </div>
    <div class="card-funcionario">
        <div class="imagem-funcionario">
            <img src="https://i.pinimg.com/736x/14/30/35/143035bbec562335d8b2217317273ba1.jpg"
                alt="Foto do funcionário">
        </div>
        <span class="nome-funcionario ng-binding">Joana Castanheira</span>
        <div class="likes d-inline-flex justify-content-between">
            <fa-icon class="coracao m-1" [icon]="faHeart"></fa-icon>
            <span class="likes m-1">10</span>
        </div>
    </div>
</div>