<div class="card-deck p-0 m-0">
    <div class="card-servico">
        <div class="card-header d-flex justify-content-between">
            <h5 class="titulo-servico">{{servico.nome}}</h5>
        </div>
        <img class="card-img-top" src="{{servico.imagem}}" alt="Imagem do servico">
        <div class="card-body">
            <p class="card-desc">{{servico.descricao}}</p>
            <h5 class="card-title">Preço: {{servico.valor.toLocaleString("pt-BR", { minimumFractionDigits: 2 })}}
            </h5>
            <h5 class="card-text">Nota: {{servico.nota}}</h5>
        </div>
    </div>
</div>