.selecionado{
    /* background-color: rgb(92, 190, 247); */
    outline: 1px solid rgb(129, 129, 141);
    opacity: 0.5;
}
      
.selecionado:hover {
  opacity: 1.0;
  background-color: white;
}
.titulo-servico {
  line-height: 1.5;
}
img{
    height: 300px;
    width: 100%;
}
.card-deck{
  margin: 0;
  padding: 0 3%;
}
.card-servico{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1%;
    margin: 0 1% 2% 1%;
    height: 790px;
    width: 400px;
}
.card-desc{
  text-align: justify;
  height: 80px;
}

.btn-cor{
  background-color:  #ff722d;
}