<div class="titulo" align="center">
  <h2>Meus Agendamentos</h2>
</div>
<div *ngFor="let pedido of pedidos; let i = index" class="container-fluid">
  <div class="card-header mx-3">
    {{i+1}}-Pedido realizado no dia {{pedido.data | date: 'dd/MM/yyyy'}}
  </div>
  <div class="row">
    <div *ngFor="let agendamento of pedido.agendamentos" class="card-body col-sm-12 col-lg-6">
      <div class="card">
        <div class="card-body d-flex">
          <div class="d-flex flex-column w-100">
            <h5 class="card-title">{{agendamento.servico.nome}}</h5>
            <div class="row">
              <div class="col-8">
                <div class="data m-1">
                  <fa-icon class="calendario" [icon]="faCalendar"></fa-icon>
                  {{agendamento.data | date: 'dd/MM/yyyy'}}
                </div>
                <div class="horario m-1">
                  <fa-icon class="relogio" [icon]="faClock"></fa-icon>
                  {{agendamento.hora}}:00
                </div>
                <div class="preco m-1">
                  <fa-icon class="dinheiro" [icon]="faMoneyBillWave"></fa-icon>
                  R$: {{agendamento.servico.valor.toLocaleString("pt-BR", { minimumFractionDigits: 2 })}}
                </div>
              </div>
              <div class="col-3 d-inline-block">
                <button class="btn btn-info m-2">Reagendar</button>
                <button class="btn btn-info m-2">Desmarcar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>